.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.links > a {
    text-decoration: none;
    font-size: 35px;
    margin-bottom: 10px;
    color: #de6161;
}

.links > a:hover {
    text-decoration: none;

    color: #de6161;
    transition: .3s;
}

.links > a:hover {
    color: #EC7D7D;
}
