.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    min-height: 100vh;
    padding-top: 15vh;
    box-sizing: border-box;
}

.infoBlock {
    width: 300px;
}

.coverImg {
    width: 300px;
    height: auto;
}

.title {
    font-size: 25px;
}