.member {
    display: flex;
    align-items: center;
    border: 2px solid var(--border);
    width: fit-content;
    padding: 3px 8px;
    border-radius: 6px;
    color: var(--text-muted);
    object-fit: cover;
}

.memberImage {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 8px;
}
