@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    color:#babfba;
}

a[href="https://cusdis.com"] {
    display: none ;
}



input[type='text'], input[type='email']  {
    height: 40px;
}

input[type='text'], input[type='email'], textarea {
    font-size: 16px;
    background-color: #232324!important;
    color: #e1e3e6!important;
    padding: 10px!important;
    border: 2px solid rgba(255, 255, 255, 0.12)!important;
    border-radius: 8px;
    transition: 0.3s;
    outline: none!important;
    outline-offset: unset!important;
}


input[type='text']:hover, input[type='email']:hover, textarea:hover {
    border-color: rgba(255, 255, 255, 0.268);
}
input[type='text']:focus, input[type='email']:focus, textarea:focus {
    border: 2px solid #de6161!important;
}
input[type='text']:disabled, input[type='email']:disabled, textarea:disabled {
    background-color: #383838;
}



button:not([type="button"]) {
    font-size: 16px!important;
    line-height: 20px!important;
    width: 100%;
    background: rgba(222, 97, 97, 0.75)!important;
    color: #e1e3e6;
    outline: none;
    border-radius: 8px;
    transition: 0.3s;
    border: none;
    padding: 11px 0 11px 0!important;
    font-weight: 500!important;
    font-family: -apple-system,system-ui,Helvetica Neue,Roboto,sans-serif;
    cursor: pointer;

}
button:not([type="button"]):hover {
    background: rgba(222, 97, 97, 0.94)!important;
}

.dark\:text-gray-100, .dark\:text-gray-200 {
    transition: .3s;
    color:#babfba!important;
}

.dark\:text-gray-400, button[type="button"] {
    color: #7a7a7a!important;
}


button[type="button"]:hover {
    color: #de6161!important;
}


.border-l-2.border-gray-200 {
    border-color: #de6161;
}

.border-l-2.border-color-gray-200 {
    border-color: #7a7a7a!important;
}

.p-2.mb-4.bg-blue-500.text-white {
    border-radius: 8px;
    background-color: #232324 !important;
    border: 2px solid #de6161 !important;
    text-align: center;
    margin: 15px 0;
}

@media Screen and (max-width: 600px) {
    .grid.grid-cols-2.gap-4 {
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: unset!important;

    }

}