@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #161616;
  color: white;
  position: unset!important;
  font-family: Inter, sans-serif;
}
