.pageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pageImage {
    z-index: 1;
}

.controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;

}

.chapterControls {
    display: flex;
    justify-content: space-between;
    margin: 30px 0
}

.previousChapterControl, .nextChapterControl {
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: var(--bg-card);
    transition: .3s;
    cursor: pointer;
    width: fit-content;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
}

.previousChapterControl:not(.controlDisabled):hover,
.nextChapterControl:not(.controlDisabled):hover {
    background-color: var(--bg-card-hover);
}

.previousChapterControl:not(.controlDisabled):hover ion-icon,
.nextChapterControl:not(.controlDisabled):hover ion-icon {
    color: var(--accent);
}


.chapterControls .controlDisabled {
    opacity: 0.7;
}


.previousChapterControl > ion-icon {
    margin-right: 8px;
    font-size: 18px;
    transition: .3s;
}
.nextChapterControl > ion-icon {
    margin-left: 8px;
    font-size: 18px;
    transition: .3s;
}


.previousPageControl, .nextPageControl {
    height: 100%;
    cursor: pointer;
}

.controlDisabled {
    cursor: not-allowed;
}







.pageNumber {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 10px;
    right: 0;
    left: 0;
    font-weight: bold;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
    z-index: 2;
    transition: transform 0.3s ease;
}

.pageNumber.visible {
    transform: translateY(0%);
}
.pageNumber.hidden {
    transform: translateY(200%);
}


.loaderContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.comments {
    max-width: 1000px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;

}


.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--accent);
    animation:
            l20-1 0.8s infinite linear alternate,
            l20-2 1.6s infinite linear;
}
@keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}
