.infoBox {
    height: fit-content;
}

@media screen and (min-width: 800px) {
    .infoBox {
        box-shadow: 0 2px 6px 0 #0e0e0e, 0 0 10px 0 #0e0e0e;
        -webkit-box-shadow: 0 2px 6px 0 #0e0e0e, 0 0 10px 0 #0e0e0e;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 15px;
        background: #232324;
        overflow: hidden;

    }
}


.infoItem {
    padding: 10px 0;
}

.infoItem:first-child {
    padding-top: 0;
}

.infoItem:last-child {
    padding-bottom: 0;
}

/*.infoItem:not(:first-child)   {*/
/*    border-top: 2px solid #474747;*/
/*}*/

.infoLabel {
    font-size: 12px;
    color: #7a7a7a;
    display: block;
    margin-bottom: 6px;
}
.infoItemValue {
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .infoBox {

    }
}