.goBackBtn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.goBackBtn > ion-icon {
    font-size: 30px;
    margin: 15px 0 0 15px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--text-primary);
}

.goBackBtn > ion-icon:hover {
    color: var(--accent);
}
