.chapterButton {
    text-decoration: none;
    background: var(--bg-card);
    border-radius: 10px;
    padding: 8px 15px;
    color: inherit;
    transition: .3s;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.chapterButton:not(:first-child) {
    margin-top: 10px;
}

.chapterButton:not(.disabled):hover {
    color: var(--text-secondary);
    background: var(--bg-card-hover);
}


.chapterName {
    color: var(--text-muted);
}

.disabled {
    opacity: .7;
    cursor: unset;
}
